.networks {

  &-content {
    text-transform: uppercase;
    font-family: 'Antonio', sans-serif;
    text-shadow: white 1px 0 10px;
    margin-bottom: 4rem;
    font-size: 1.2rem;
  }

  &-linkedin {
    width: 5rem;
    padding-right: 2rem;
    &:hover {
      transform: scale(1.2);
      transition: 0.5s;
    }
    @media screen and (max-width: 850px) {
      width: 4rem;
    }
  }

  &-github {
    width: 5rem;
    padding-right: 2rem;
    &:hover {
      transform: scale(1.2);
      transition: 0.5s;
    }
    @media screen and (max-width: 850px) {
      width: 4rem;
    }
  }

  &-gmail {
    width: 5rem;
    &:hover {
      transform: scale(1.2);
      transition: 0.5s;
    }
    @media screen and (max-width: 850px) {
      width: 4rem;
    }
  }
}