.projects {
  background: #A7A7D4;
  padding: 2rem 5%;
  color: white;

  &-title {
    text-transform: uppercase;
    font-family: 'Antonio', sans-serif;
    text-shadow: white 1px 0 10px;
    text-align: center;
  }

  &-content {
    display: flex;
    text-align: center;
    margin-top: 6rem;
  }

  &-img {
    width: 65%;
  }

  &-project {
    text-transform: uppercase;
    font-family: 'Antonio', sans-serif;
    font-size: 1.5rem;
  }

  &-description {
    opacity: 0.8;
  }

  &-button {
    text-transform: uppercase;
    background-color: #EC5B8F;
    color: white;
    border-radius: 2rem;
    padding: 0.5rem 2.5rem;
    font-family: "Antonio", sans-serif;
    font-weight: lighter;
    border-bottom: white solid 4px;
    margin-top: 1rem;
    display: inline-block;
    outline: none;
    font-size: 1.1rem;
    text-decoration: none;

    &:hover {
      transform: scale(1.1);
      transition-duration: 0.3s;
    }
  }
}

