.contacts {
  box-sizing: border-box;
  background: url('../../assets/images/background-contact.png');
  height: 1080px;
  padding: 0;
  color: white;
  border-top: 2px solid white;

  &-title {
    text-transform: uppercase;
    font-family: 'Antonio', sans-serif;
    text-shadow: white 1px 0 10px;
    text-align: center;
    padding-top: 6rem;
    @media screen and (max-width: 870px) {
      font-size: 1.7rem;
    }
    @media screen and (max-width: 650px) {
      font-size: 1.5rem;
    }
  }

  &-content {
    text-transform: uppercase;
    font-family: 'Antonio', sans-serif;
    text-shadow: white 1px 0 10px;
    margin-bottom: 4rem;
    font-size: 1.3rem;
    @media screen and (max-width: 740px) {
      font-size: 1rem;
    }
  }

  &-contact {
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    @media screen and (max-width: 740px) {
      display: block;
      text-align: center;
    }
  }

  &-firstname,
  &-lastname,
  &-email,
  &-subject,
  &-message {
    border: none;
    background: #100339;
    border-bottom: 3px solid #F6867A;
    width: 20rem;
    padding-bottom: 0.6rem;
    color: white;
    margin-bottom: 1.5rem;
    &::placeholder {
      color: white;
      font-family: 'Amiko', sans-serif;
    }
  }

  &-message {
    height: 7rem;
    font-family: 'Amiko', sans-serif;
  }

  &-button {
    background: #100339;
    border: 3px solid #F6867A;
    padding: 0.5rem 1rem;
    font-family: 'Antonio', sans-serif;
    text-transform: uppercase;
    color: #F6867A;
    margin-top: 1rem; 
    font-size: 1rem;
    letter-spacing: .2rem;
    &:hover {
      transform: scale(1.2);
      transition: 0.5s;
      background: #F6867A;
      border: 3px solid white;
      color: white;
    }
    @media screen and (max-width: 740px) {
      margin-bottom: 2.5rem;
    }
  }
}
