.about {
  padding: 0rem 25%;
  text-align: center;
  color: #100339;
  background: white;
  
  &-title {
    text-transform: uppercase;
    font-family: 'Antonio', sans-serif;
    color: #F5857A;
    text-shadow: #F5857A 1px 0 10px;
  }

  &-avatar {
    border-radius: 50%;
    margin: 2rem 0;
    width: 50%;
  }

  &-content {
    // opacity: 0.6;
  }
}